.nav-item-wrapper[data-v-77b31ac7] {
  padding: 11px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px; }
  .nav-item-wrapper[data-v-77b31ac7]:hover {
    padding: 10px 17px;
    border: 1px solid #bdbdbd;
    color: #2b2b2b !important; }

.active .nav-item-wrapper[data-v-77b31ac7]:hover {
  border: none;
  padding: 11px 18px; }

.Header a[data-v-77b31ac7],
.Header a[data-v-77b31ac7]:hover {
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600; }

.mt16[data-v-77b31ac7] {
  margin-top: 16px; }

.btn[data-v-77b31ac7] {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(43, 43, 43, 0.25);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media screen and (prefers-reduced-motion: reduce) {
  .btn[data-v-77b31ac7] {
    transition: none; } }

.btn[data-v-77b31ac7]:hover,
.btn[data-v-77b31ac7]:focus {
  text-decoration: none; }

.btn[data-v-77b31ac7]:focus,
.btn.focus[data-v-77b31ac7] {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 127, 255, 0.25); }

.btn.disabled[data-v-77b31ac7],
.btn[data-v-77b31ac7]:disabled {
  opacity: 0.65; }

.btn[data-v-77b31ac7]:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn[data-v-77b31ac7]:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active[data-v-77b31ac7] {
  background-image: none; }

a.btn.disabled[data-v-77b31ac7],
fieldset:disabled a.btn[data-v-77b31ac7] {
  pointer-events: none; }

.btn-primary[data-v-77b31ac7] {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-primary[data-v-77b31ac7]:hover {
  color: #fcfbf7;
  background-color: #1e9a82;
  border-color: #1c8f79; }

.btn-primary[data-v-77b31ac7]:focus,
.btn-primary.focus[data-v-77b31ac7] {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-primary.disabled[data-v-77b31ac7],
.btn-primary[data-v-77b31ac7]:disabled {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d; }

.btn-primary[data-v-77b31ac7]:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active[data-v-77b31ac7],
.show > .btn-primary.dropdown-toggle[data-v-77b31ac7] {
  color: #fcfbf7;
  background-color: #1c8f79;
  border-color: #1a8570; }

.btn-primary[data-v-77b31ac7]:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active[data-v-77b31ac7]:focus,
.show > .btn-primary.dropdown-toggle[data-v-77b31ac7]:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-secondary[data-v-77b31ac7] {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-secondary[data-v-77b31ac7]:hover {
  color: #fcfbf7;
  background-color: #6f6f6f;
  border-color: dimgray; }

.btn-secondary[data-v-77b31ac7]:focus,
.btn-secondary.focus[data-v-77b31ac7] {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-secondary.disabled[data-v-77b31ac7],
.btn-secondary[data-v-77b31ac7]:disabled {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282; }

.btn-secondary[data-v-77b31ac7]:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-77b31ac7],
.show > .btn-secondary.dropdown-toggle[data-v-77b31ac7] {
  color: #fcfbf7;
  background-color: dimgray;
  border-color: #626262; }

.btn-secondary[data-v-77b31ac7]:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-77b31ac7]:focus,
.show > .btn-secondary.dropdown-toggle[data-v-77b31ac7]:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-lg[data-v-77b31ac7],
.btn-group-lg > .btn[data-v-77b31ac7] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.Header[data-v-77b31ac7] {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  color: #2b2b2b;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fcfbf7;
  font-family: "Libre Franklin", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0; }
  .Header .Dropdown__label[data-v-77b31ac7] {
    max-width: 150px; }
  .Header__height[data-v-77b31ac7] {
    height: 72px; }
  .Header__logo-img[data-v-77b31ac7] {
    display: block;
    height: 54px;
    margin: 9px 9px; }
  .Header__link[data-v-77b31ac7] {
    color: #2b2b2b;
    font-weight: 600;
    height: 100%; }
    .Header__link.active[data-v-77b31ac7] {
      position: relative; }
      .Header__link.active .nav-item-wrapper[data-v-77b31ac7] {
        height: 36px; }
      .Header__link.active .active-underline[data-v-77b31ac7] {
        border: 2px solid #ff4630;
        border-radius: 5px;
        background-color: #ff4630;
        margin: 0 5%; }
  .Header__dropdown-item[data-v-77b31ac7] {
    display: block;
    width: 100%;
    padding: 0.25em 1.75em;
    border: none;
    font: inherit;
    font-weight: 500;
    text-align: left;
    color: #2b2b2b;
    cursor: pointer;
    transition: color 260ms; }

.nav-item-wrapper[data-v-6149e08a] {
  padding: 11px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px; }
  .nav-item-wrapper[data-v-6149e08a]:hover {
    padding: 10px 17px;
    border: 1px solid #bdbdbd;
    color: #2b2b2b !important; }

.active .nav-item-wrapper[data-v-6149e08a]:hover {
  border: none;
  padding: 11px 18px; }

.Header a[data-v-6149e08a],
.Header a[data-v-6149e08a]:hover {
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600; }

.mt16[data-v-6149e08a] {
  margin-top: 16px; }

.btn[data-v-6149e08a] {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(43, 43, 43, 0.25);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media screen and (prefers-reduced-motion: reduce) {
  .btn[data-v-6149e08a] {
    transition: none; } }

.btn[data-v-6149e08a]:hover,
.btn[data-v-6149e08a]:focus {
  text-decoration: none; }

.btn[data-v-6149e08a]:focus,
.btn.focus[data-v-6149e08a] {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 127, 255, 0.25); }

.btn.disabled[data-v-6149e08a],
.btn[data-v-6149e08a]:disabled {
  opacity: 0.65; }

.btn[data-v-6149e08a]:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn[data-v-6149e08a]:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active[data-v-6149e08a] {
  background-image: none; }

a.btn.disabled[data-v-6149e08a],
fieldset:disabled a.btn[data-v-6149e08a] {
  pointer-events: none; }

.btn-primary[data-v-6149e08a] {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-primary[data-v-6149e08a]:hover {
  color: #fcfbf7;
  background-color: #1e9a82;
  border-color: #1c8f79; }

.btn-primary[data-v-6149e08a]:focus,
.btn-primary.focus[data-v-6149e08a] {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-primary.disabled[data-v-6149e08a],
.btn-primary[data-v-6149e08a]:disabled {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d; }

.btn-primary[data-v-6149e08a]:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active[data-v-6149e08a],
.show > .btn-primary.dropdown-toggle[data-v-6149e08a] {
  color: #fcfbf7;
  background-color: #1c8f79;
  border-color: #1a8570; }

.btn-primary[data-v-6149e08a]:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active[data-v-6149e08a]:focus,
.show > .btn-primary.dropdown-toggle[data-v-6149e08a]:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-secondary[data-v-6149e08a] {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-secondary[data-v-6149e08a]:hover {
  color: #fcfbf7;
  background-color: #6f6f6f;
  border-color: dimgray; }

.btn-secondary[data-v-6149e08a]:focus,
.btn-secondary.focus[data-v-6149e08a] {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-secondary.disabled[data-v-6149e08a],
.btn-secondary[data-v-6149e08a]:disabled {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282; }

.btn-secondary[data-v-6149e08a]:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-6149e08a],
.show > .btn-secondary.dropdown-toggle[data-v-6149e08a] {
  color: #fcfbf7;
  background-color: dimgray;
  border-color: #626262; }

.btn-secondary[data-v-6149e08a]:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-6149e08a]:focus,
.show > .btn-secondary.dropdown-toggle[data-v-6149e08a]:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-lg[data-v-6149e08a],
.btn-group-lg > .btn[data-v-6149e08a] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.Dropdown[data-v-6149e08a] {
  position: relative; }
  .Dropdown__head[data-v-6149e08a] {
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: 6px 18px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none; }
    .Dropdown__head.active[data-v-6149e08a] {
      padding: 9px 17px;
      border: 1px solid #bdbdbd;
      color: #2b2b2b !important; }
    .Dropdown__head[data-v-6149e08a]:hover {
      cursor: pointer;
      padding: 6px 17px; }
  .Dropdown__body[data-v-6149e08a] {
    z-index: 1;
    position: absolute;
    width: 20em;
    white-space: nowrap;
    padding: 0;
    right: 0;
    top: 44px;
    list-style: none;
    background-color: #fcfbf7;
    border-radius: 8px;
    border: 1px solid #bdbdbd; }
    .Dropdown__body[aria-hidden="true"][data-v-6149e08a] {
      display: none; }
    .Dropdown__body a[data-v-6149e08a] {
      display: inline-block;
      padding: 1rem 1rem;
      width: 100%;
      /* Ensures the background color on hover does
       not extend outside the radius of the parent li */
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit; }
      .Dropdown__body a[data-v-6149e08a]:hover {
        background-color: rgba(0, 0, 0, 0.1); }
    .Dropdown__body li[data-v-6149e08a]:not(:first-child) {
      border-top: 1px solid #e0e0e0; }
    .Dropdown__body li[data-v-6149e08a]:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .Dropdown__body li[data-v-6149e08a]:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }

.nav-item-wrapper[data-v-e92cd61e] {
  padding: 11px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px; }
  .nav-item-wrapper[data-v-e92cd61e]:hover {
    padding: 10px 17px;
    border: 1px solid #bdbdbd;
    color: #2b2b2b !important; }

.active .nav-item-wrapper[data-v-e92cd61e]:hover {
  border: none;
  padding: 11px 18px; }

.Header a[data-v-e92cd61e],
.Header a[data-v-e92cd61e]:hover {
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600; }

.mt16[data-v-e92cd61e] {
  margin-top: 16px; }

.btn[data-v-e92cd61e] {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(43, 43, 43, 0.25);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media screen and (prefers-reduced-motion: reduce) {
  .btn[data-v-e92cd61e] {
    transition: none; } }

.btn[data-v-e92cd61e]:hover,
.btn[data-v-e92cd61e]:focus {
  text-decoration: none; }

.btn[data-v-e92cd61e]:focus,
.btn.focus[data-v-e92cd61e] {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 127, 255, 0.25); }

.btn.disabled[data-v-e92cd61e],
.btn[data-v-e92cd61e]:disabled {
  opacity: 0.65; }

.btn[data-v-e92cd61e]:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn[data-v-e92cd61e]:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active[data-v-e92cd61e] {
  background-image: none; }

a.btn.disabled[data-v-e92cd61e],
fieldset:disabled a.btn[data-v-e92cd61e] {
  pointer-events: none; }

.btn-primary[data-v-e92cd61e] {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-primary[data-v-e92cd61e]:hover {
  color: #fcfbf7;
  background-color: #1e9a82;
  border-color: #1c8f79; }

.btn-primary[data-v-e92cd61e]:focus,
.btn-primary.focus[data-v-e92cd61e] {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-primary.disabled[data-v-e92cd61e],
.btn-primary[data-v-e92cd61e]:disabled {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d; }

.btn-primary[data-v-e92cd61e]:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active[data-v-e92cd61e],
.show > .btn-primary.dropdown-toggle[data-v-e92cd61e] {
  color: #fcfbf7;
  background-color: #1c8f79;
  border-color: #1a8570; }

.btn-primary[data-v-e92cd61e]:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active[data-v-e92cd61e]:focus,
.show > .btn-primary.dropdown-toggle[data-v-e92cd61e]:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-secondary[data-v-e92cd61e] {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-secondary[data-v-e92cd61e]:hover {
  color: #fcfbf7;
  background-color: #6f6f6f;
  border-color: dimgray; }

.btn-secondary[data-v-e92cd61e]:focus,
.btn-secondary.focus[data-v-e92cd61e] {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-secondary.disabled[data-v-e92cd61e],
.btn-secondary[data-v-e92cd61e]:disabled {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282; }

.btn-secondary[data-v-e92cd61e]:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-e92cd61e],
.show > .btn-secondary.dropdown-toggle[data-v-e92cd61e] {
  color: #fcfbf7;
  background-color: dimgray;
  border-color: #626262; }

.btn-secondary[data-v-e92cd61e]:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-e92cd61e]:focus,
.show > .btn-secondary.dropdown-toggle[data-v-e92cd61e]:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-lg[data-v-e92cd61e],
.btn-group-lg > .btn[data-v-e92cd61e] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.ProfileDropdown[data-v-e92cd61e] {
  margin-left: 2em;
  margin-right: 1em; }
  .ProfileDropdown__head[data-v-e92cd61e] {
    border: none;
    background-color: transparent; }
    .ProfileDropdown__head[data-v-e92cd61e]:hover {
      cursor: pointer; }
  .ProfileDropdown__body[data-v-e92cd61e] {
    z-index: 1;
    position: absolute;
    width: 29rem;
    white-space: nowrap;
    padding: 0;
    right: 1.5rem;
    top: 71px;
    list-style: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fcfbf7;
    border: 1px solid #2b2b2b; }
    .ProfileDropdown__body[data-v-e92cd61e]::before {
      border: 9px solid #2b2b2b;
      content: "";
      position: absolute;
      right: 10px;
      top: -9px;
      width: 0;
      transform: rotate(45deg); }
    .ProfileDropdown__body[aria-hidden="true"][data-v-e92cd61e] {
      display: none; }
    .ProfileDropdown__body-header[data-v-e92cd61e] {
      background-color: #2b2b2b;
      color: #f2f2f2;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-bottom: 0.25rem;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1px; }
    .ProfileDropdown__body-content[data-v-e92cd61e] {
      max-height: 17.5rem;
      overflow-y: scroll; }
    .ProfileDropdown__body-footer[data-v-e92cd61e] {
      padding: 0.5rem 0.25rem;
      border-top: 1px solid #2b2b2b; }
      .ProfileDropdown__body-footer .profile[data-v-e92cd61e] {
        width: 60%;
        margin-right: 0; }
      .ProfileDropdown__body-footer .log-out[data-v-e92cd61e] {
        width: 36.5%; }
  .ProfileDropdown__notification[data-v-e92cd61e] {
    border-top: 1px solid #bdbdbd; }

.unread[data-v-5e16ec82]::before {
  content: "";
  position: absolute;
  border: 7px solid #ff4630;
  border-radius: 100%;
  right: 3.25rem; }

.nav-item-wrapper[data-v-2aae38cb] {
  padding: 11px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px; }
  .nav-item-wrapper[data-v-2aae38cb]:hover {
    padding: 10px 17px;
    border: 1px solid #bdbdbd;
    color: #2b2b2b !important; }

.active .nav-item-wrapper[data-v-2aae38cb]:hover {
  border: none;
  padding: 11px 18px; }

.Header a[data-v-2aae38cb],
.Header a[data-v-2aae38cb]:hover {
  color: #2b2b2b;
  text-decoration: none;
  font-weight: 600; }

.mt16[data-v-2aae38cb] {
  margin-top: 16px; }

.btn[data-v-2aae38cb] {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(43, 43, 43, 0.25);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

@media screen and (prefers-reduced-motion: reduce) {
  .btn[data-v-2aae38cb] {
    transition: none; } }

.btn[data-v-2aae38cb]:hover,
.btn[data-v-2aae38cb]:focus {
  text-decoration: none; }

.btn[data-v-2aae38cb]:focus,
.btn.focus[data-v-2aae38cb] {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 127, 255, 0.25); }

.btn.disabled[data-v-2aae38cb],
.btn[data-v-2aae38cb]:disabled {
  opacity: 0.65; }

.btn[data-v-2aae38cb]:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn[data-v-2aae38cb]:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active[data-v-2aae38cb] {
  background-image: none; }

a.btn.disabled[data-v-2aae38cb],
fieldset:disabled a.btn[data-v-2aae38cb] {
  pointer-events: none; }

.btn-primary[data-v-2aae38cb] {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-primary[data-v-2aae38cb]:hover {
  color: #fcfbf7;
  background-color: #1e9a82;
  border-color: #1c8f79; }

.btn-primary[data-v-2aae38cb]:focus,
.btn-primary.focus[data-v-2aae38cb] {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-primary.disabled[data-v-2aae38cb],
.btn-primary[data-v-2aae38cb]:disabled {
  color: #fcfbf7;
  background-color: #24ba9d;
  border-color: #24ba9d; }

.btn-primary[data-v-2aae38cb]:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active[data-v-2aae38cb],
.show > .btn-primary.dropdown-toggle[data-v-2aae38cb] {
  color: #fcfbf7;
  background-color: #1c8f79;
  border-color: #1a8570; }

.btn-primary[data-v-2aae38cb]:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active[data-v-2aae38cb]:focus,
.show > .btn-primary.dropdown-toggle[data-v-2aae38cb]:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 186, 157, 0.5); }

.btn-secondary[data-v-2aae38cb] {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282;
  border: 1px solid rgba(45, 45, 45, 0.25); }

.btn-secondary[data-v-2aae38cb]:hover {
  color: #fcfbf7;
  background-color: #6f6f6f;
  border-color: dimgray; }

.btn-secondary[data-v-2aae38cb]:focus,
.btn-secondary.focus[data-v-2aae38cb] {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-secondary.disabled[data-v-2aae38cb],
.btn-secondary[data-v-2aae38cb]:disabled {
  color: #fcfbf7;
  background-color: #828282;
  border-color: #828282; }

.btn-secondary[data-v-2aae38cb]:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-2aae38cb],
.show > .btn-secondary.dropdown-toggle[data-v-2aae38cb] {
  color: #fcfbf7;
  background-color: dimgray;
  border-color: #626262; }

.btn-secondary[data-v-2aae38cb]:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active[data-v-2aae38cb]:focus,
.show > .btn-secondary.dropdown-toggle[data-v-2aae38cb]:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 130, 130, 0.5); }

.btn-lg[data-v-2aae38cb],
.btn-group-lg > .btn[data-v-2aae38cb] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

.ProfileNotification[data-v-2aae38cb] {
  padding: 1rem; }
  .ProfileNotification__icon[data-v-2aae38cb] {
    display: inline-block;
    vertical-align: top;
    background-color: #c4c4c4;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-right: 0.75rem; }
    .ProfileNotification__icon-calendar[data-v-2aae38cb] {
      padding: 0.6rem 0.75rem; }
    .ProfileNotification__icon-text[data-v-2aae38cb] {
      color: #828282;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.6rem 0;
      text-align: center; }
  .ProfileNotification__description[data-v-2aae38cb] {
    display: inline-block;
    color: #4f4f4f;
    padding-top: 0.25rem; }
    .ProfileNotification__description-summary[data-v-2aae38cb] {
      font-weight: 600; }
    .ProfileNotification__description-content[data-v-2aae38cb] {
      font-style: italic;
      max-width: 21rem;
      text-overflow: ellipsis;
      overflow: hidden; }
    .ProfileNotification__description.-read[data-v-2aae38cb] {
      color: #828282; }

