:root {
  --header-height: 72px;
  --k-font-family: "Libre Franklin", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --k-background-color: #fcfbf7;
  --k-blue: #dbf8ff;
  --k-bg-tan: var(--k-background-color);
  --k-bg-blue: rgba(219, 248, 255, 0.8);
  --k-color: #2b2b2b;
  --principal-green: #24ba9d;
  --dc-red: #ff4630;
  --red: #f23f56;
  --blue: #007fff;
  --blue-dark: #0059b3;
  --green: #70de54;
  --purple: #9460d6;
  --orange: #f17129;
  --yellow: #ffc957;
  --blue-tint: #a6dfff;
  --red-tint: #ffb5c2;
  --green-tint: #d8ffba;
  --purple-tint: #dcc6f7;
  --orange-tint: #ffb78f;
  --yellow-tint: #ffef9e;
  --text-0: #2b2b2b;
  --text-1: #4f4f4f;
  --text-2: #828282;
  --text-3: #bdbdbd;
  --text-4: #e0e0e0;
  --text-5: #f2f2f2;
}

.text-0 {
  color: var(--text-0);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.text-3 {
  color: var(--text-3);
}

.text-4 {
  color: var(--text-4);
}

.text-5 {
  color: var(--text-5);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.align-middle {
  vertical-align: middle;
}

.-fh {
  height: 100%;
}

@media (max-width: 40em) {
  .xs-hide {
    display: none !important;
  }
}
@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}
@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}
@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}

.mr1 {
  margin-right: 10;
}
